<!DOCTYPE html>
<html lang="en">
<h>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products ejs</title>
   <link rel="stylesheet" href="/CSS/style.css" ></link>
</head>
<body>
    <form action="/products" method="POST">
<div class="container">
    <h1>Create Your Own Product</h1>
    <label for="title">Title</label>
    <input id="title" name="title" />
    <label for="price">Price</label>
    <input id="price" name="price"/>
    <label for="category">Category</label>
    <input id="category" name="category" />
    <button type="submit">Create</button>
</div>
    </form>
</body>
</html>